body {
    font-family: Roboto Condensed, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #35384C;
}


.product {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.product h1 {
    margin: 0;
    font-size: 24px;
    color: #35384C;
}


.price {
    color: #FCB31E;
    font-size: 20px;
    margin: 10px 0;
}


.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}


.quantity button {
    background-color: #198CFB;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.quantity input {
    width: 30px;
    text-align: center;
    margin: 0 5px;
    color: #35384C;
}


.add-to-cart, .order-now {
    background-color: #35384C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
}


.product-info, .related-products {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.product-info h2, .comments h2, .related-products h2 {
    margin: 0;
    font-size: 20px;
    color: #198CFB;
}
.related-products {
    padding: 20px;
}

.product-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 0 0 30%;
    transition: transform 0.2s;
    text-align: center;
}
.product-card img {
   width: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.product-card h3 {
    color:#35384C;
}
.product-card p {
    color:#198CFB;
}
