body {
    font-family: Tahoma, sans-serif;
    margin: 10px ;
    padding: 10px;
    background-color: #35384C;
}

/*-----header-----*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35384C;
    padding: 30px 40px;
    color: white;
    border-bottom: 10px solid rgb(255, 255, 255);
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.logo img {
    height: 80px; 
    margin-right: 20px; 
}
.name div {
    font-size: 20px; 
}
.slogan {
    font-size: 10px;
    color: #ffffff;
    margin-left: 50px;
    margin-top: -20px;
    font-weight: 100;
}
.nav {
    display: flex;
    gap: 10px;
    margin-right: 150px;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    transition: background-color 0.3s;
}
.nav a:hover {
    color: #FCB31E;
}


        .product-container {
            display: flex;
            background-color: #ffffff;
            padding: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin:30px;
        }
        .product-container img {
            max-width: 300px;
            margin-right: 20px;
            border-radius: 5px;

        }
        .product-details {
            display: flex;
            flex-direction: column;
        }
        .product-details h1 {
            margin: 0 0 10px;
            color: #35384C;
            font-size: 25px;
        }
        .product-details .price {
            color: #198CFB;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .quantity-control {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .quantity-control button {
            background-color: #FCB31E;
            border-radius: 10%;
            padding: 7px;
            cursor: pointer;
            border-color: #FCB31E;
        }
        .quantity-control input {
            width: 40px;
            text-align: center;
            margin: 0 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .add-to-cart {
            background-color: #35384C;
            color: #ffffff;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            text-transform: uppercase;
            max-width: 30%;
        }
        .description {
            margin-top: 20px;
        }
        .description h2 {
            color: #198CFB;
            font-size: 20px;
        }
        hr {
    width: 50%;
    height: 3px; 
    background-color: rgb(252,179,30);
    border: none; 
    margin: 20px auto; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 0 0 30%;
    transition: transform 0.2s;
}
.menu-item:hover {
    transform: scale(1.05);
}
.menu-item img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.menu-item h3 {
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.menu-item p {
    margin: 15px;
    color: #555;
}

/*-----footer-----*/
footer {
    background-color: #35384C;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-center {
    margin-bottom: 20px;
}
.footer-center h2 {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: -10px;
}
.footer-center p {
    font-size: 15px;
    padding-top: -10px;
}
.footer-logo {
    width: 100px;
    height: auto;
}
.footer-line {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-top: 1px solid #ffffff;
    padding-top: 20px;
}

.footer-left{
    width: 30%;
    margin-left: 150px;
}
.footer-right {
    width: 70%;
    margin-left: 20px;
}
.footer-right h3 {
    margin-bottom: 0px;
}
.footer-left ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
}
.footer-right ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    line-height: 35px;
}
.footer-left ul li, .footer-right ul li {
    margin: 10px 0;
    text-align: left;
}
.footer-left ul li a {
    color: #fff;
    text-decoration: none;
}
.footer-left ul li a:hover {
    color: #FCB31E;
}
.footer-social {
    margin-top: 10px;
}
.footer-social a {
    margin: 0 30px;
}
.footer-social img {
    width: 50px;
    height: auto;
}
